.osem-logo {
  height: 30px;
}

.osem-logo-shrink {
  height: 30px;
}

@media(min-width:767px) {
  .osem-logo {
    height: 60px;
    margin-left: 25px;
  }
}

@media(min-width:1023px) {
  .osem-logo {
    height: 120px;
    margin-left: 25px;
  }
}

section.post:nth-of-type(1) {
  margin-top: 160px;
}

section.post {
  padding: 20px 0;
}

section#comments {
  padding: 40px 0;
 }

.post-img {
  border: 5px solid #ecf0f1;
  border-radius: 4px;
  margin-top: 21px;
  min-height: 200px;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#post-nav .navbar-default {
  background-color: #222;
}

#post-header {
    min-height: 300px;
    color: #79BD8F;
    background-color: #333;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
  #post-header {
    margin-top: 100px;
    min-height: 600px;
  }
}

#post-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#post-title .span-bg {
  color: #fff;
  background-color: rgba(0, 0, 0,.70);
  padding: 10px;
  line-height: 1.75
}
#post-title p {
  color: #fff;
}


#post-body {
  padding: 15px 0;
}

#post-body p {
    font-family: Lora,serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(min-width:767px) {
  #post-body p {
    font-size: 22px;
    letter-spacing: 0.01rem;
    line-height: 1.5;
  }
}
