= bar_chart @survey.survey_questions.map{ |q| [q.title, q.survey_replies.count] }

- @survey.survey_questions.each.with_index(1) do |survey_question, question_index|
  .panel.panel-default
    .panel-heading
      = render partial: 'survey_question_title', locals:  { survey_question: survey_question, question_index: question_index }
    .panel-body
      - question_replies = survey_question.survey_replies
      - if question_replies.any?
        = pie_chart question_replies.group(:text).count, library: { legend: { position: 'bottom' }, plotOptions: { pie: { dataLabels: { enabled: false }, showInLegend: true } } }
