.container
  .row
    .col-md-12
      .page-header
        %h1 New Proposal
  .row
    .col-md-12
      = render partial: 'encouragement_text'
  .row
    .col-md-12
      - if !current_user
        %legend
          %span
            =link_to('#signup', role: 'tab', "aria-controls" => "home", "data-toggle" => "tab") do
              = CONFIG['name']
              Account
          %span.pull-right#account-already
            =link_to('#signin', role: 'tab', "aria-controls" => "home", "data-toggle" => "tab") do
              Already have an account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}
          = render partial: 'proposal_form'

        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/shared/sign_in_form_embedded'
