.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Resend account confirmation instructions
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), method: :post) do |f|
            = f.input :email, input_html: { autofocus: true, required: true }
            %p.text-right
              = f.action :submit, as: :button, label: 'Submit', button_html: { class: 'btn btn-success' }

          = render partial: 'devise/shared/help'
