.row
  .col-md-12
    .page-header
      %h1 Call for Papers
      %p.text-muted
        Call for people to submit events to your conference
.row
  .col-md-8
    %dl.dl-horizontal
      = render "#{@cfp.cfp_type}_cfp", cfp: @cfp, conference: @conference
.row
  .col-md-12.text-right
    = link_to 'Edit',
      edit_admin_conference_program_cfp_path(@conference, @cfp),
      class: 'btn btn-primary'
    = link_to 'Delete',
      admin_conference_program_cfp_path(@conference, @cfp),
      method: 'delete', class: 'btn btn-danger',
      data: { confirm: 'Are you sure you want to delete the CfP?' }
