/db/test.sqlite3-journal
config/application.rb
config/config.yml
config/secrets.yml
config/piwik.yml
/vendor/cache
/vendor/cache-old
/storage/*
.idea/*
*.iml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
/public/assets
/bundle
/doc/app
.vagrant/
.env
.env.production
.env.development
.env.test
.env.local
docker-compose.override.yml
.DS_Store
.byebug_history
.buildconfig
