config/application.rb
config/config.yml
config/secrets.yml
config/master.key
config/credentials.yml.enc
/vendor/cache
/vendor/cache-old
/storage/*
.idea/*
*.iml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
/public/assets
/bundle
/doc/app
.vagrant/
.env
.env.production
.env.development
.env.test
.env.local
.envrc
docker-compose.override.yml
.DS_Store
.byebug_history
.buildconfig
osem_development
osem_test
.ackrc
spec/support/deprecation_shitlist.json
