version: "2"

services:
  database:
    image: mariadb:10.1
    env_file: docker-compose.env
    volumes:
      - database:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "127.0.0.1:8025:8025"

  web:
    build: .
    env_file: docker-compose.env
    depends_on:
      - database
      - mailhog
    ports:
      - "127.0.0.1:9292:9292"
    volumes:
      - "web:/data"

# these named volumes are used to persist data
volumes:
  database:
  web:
