.input-group.osem-register
  = f.password_field method, required: required, class: 'form-control', placeholder: placeholder
  .input-group-btn
    %button.btn.btn-default{ type: 'button', class: 'show-or-hide-password', 'data-lock': "true" }
      %span.show-password
        %i.fa-solid.fa-lock
        Show password
      %span.hide-password{ style: 'display: none'}
        %i.fa-solid.fa-unlock
        Hide password
