%h1 Rooms

%table.table
  %thead
    %tr
      %th Name
      %th Size
      %th Public
      %th Delete

  - @rooms.each do |room|
    %tr
      %td= link_to room.name, edit_admin_conference_room_path(@conference.short_title, room.id)
      %td= room.size
      %td
        - if room.public
          %span.fa.fa-check{'style'=>'color: green;'}
        -else
          %span.fa.fa-times{'style'=>'color: red;'}
      %td= link_to 'Delete', admin_conference_room_path(@conference.short_title, room.id),
      method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Room', new_admin_conference_room_path(@conference.short_title), class: 'btn btn-primary'
