- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to image_tag("#{provider}.png", size: '32x32') + provider , omniauth_authorize_path(resource_name, provider)
    %br