%h1 New Commercial
.row
  .col-md-8
    = semantic_form_for @commercial, url: admin_conference_commercials_path(conference_id: @conference.short_title) do |f|
      - if @commercial_types.first
        = render 'form', f: f

= link_to 'Back', admin_conference_commercials_path
