%h1 New Lodging

= semantic_form_for @lodging, url: admin_conference_lodgings_path(conference_id: @conference.short_title) do |f|
 = render 'form', f: f

= link_to 'Back', admin_conference_lodgings_path
