<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Paper Submission</h4>
                    <p class="text-muted">
                        Helps you to call for papers in your community. Recieve, classify, eavaluate and schedule submissions for your event.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marketing</h4>
                    <p class="text-muted">
                        Assits you in communicating the value of your event. Create a splash page and agenda. Let visitors register &amp; buy tickets for your event.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics</h4>
                    <p class="text-muted">
                        Supports you with staying on top of your event. Inform yourself about the evolution of your program and audience of your event.
                    </p>
                </div>
            </div>
        </div>
    </section>