<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Free Software</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="lead">
          This is the power of <a href="http://www.wired.com/2013/09/why-free-software-is-more-important-now-than-ever-before">Free Software</a>.
          People with diverse backgrounds, from many different parts of the world
          collaborate as a team to distribute, study, change and improve OSEMs source code.
        </p>
        <p>
          <a href="https://github.com/openSUSE/osem" class="btn btn-xl hidden-xs">Why don't you join us?</a>
          <a href="https://github.com/openSUSE/osem" class="btn btn-xl visible-xs">Join us!</a>
        </p>
        <div class="btn-group" role="group" aria-label="contact">
          <a href="mailto:info@osem.io" class="btn btn-link">
            <i class="fa fa-envelope"></i>
            Mail
          </a>
          <a href="irc://libera.chat/osem" class="btn btn-link">
            <i class="fa fa-comment"></i>
            Chat
          </a>
          <a href="https://twitter.com/osempossum" class="btn btn-link">
            <i class="fa fa-twitter"></i>
            Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
