  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>