<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Event Management App Tailored to</div>
            <div class="intro-heading">Free Software Conferences</div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="btn-group btn-group-justified">
                  <a href="https://osem.copyleft.dev" class="btn btn-xl btn-invert">Try A Demo</a>
                  <a href="https://github.com/openSUSE/osem/releases/tag/v1.0" class="btn btn-xl">Download</a>
              </div>
            </div>
        </div>
    </div>
</header>
