    <!-- jQuery -->
    <script src="//oss.maxcdn.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.easing/1.3/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script src="//oss.maxcdn.com/bootstrap/3.3.1/js/bootstrap.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $('.portfolio-modal').on('show.bs.modal', function (e) {
            var imgtarget = $( '#' + $( this ).data( 'imgtarget' ));
            var imgsrc = imgtarget.data('imgsrc');
            imgtarget.attr("src", imgsrc);
        })
    </script>
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//beans.opensuse.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 28]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//beans.opensuse.org/piwik/piwik.php?idsite=28" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
