<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h3 class="section-heading ">OSEM Features</h3>
            </div>
        </div>
        <div class="row">
            <!-- Splash -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#splashModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/splash-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Splash Pages</h4>
                    <p class="text-muted">A marketing website for your event</p>
                </div>
            </div>
            <!-- Schedule -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#scheduleModal" class="portfolio-link" data-toggle="modal" data-target="">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/schedule-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Schedules</h4>
                    <p class="text-muted">Give visitors an overview of your sessions</p>
                </div>
            </div>
            <!-- Session -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#sessionModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/events-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Sesssions</h4>
                    <p class="text-muted">Full detail presentation of your sessions</p>
                </div>
            </div>
          </div>
          <div class="row">
            <!-- Papers -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cfpModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cfp-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Paper Submission</h4>
                    <p class="text-muted">Run a call for papers</p>
                </div>
            </div>
            <!-- Registration -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#registrationModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/registration-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Registration</h4>
                    <p class="text-muted">Track your visitors</p>
                </div>
            </div>
            <!-- Admin -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#adminModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dashboard-thumbnail.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Administration</h4>
                    <p class="text-muted">Stay on top of your event</p>
                </div>
            </div>
        </div>
    </div>
</section>
