.container
  .row
    .col-md-12.text-center
      %h2 Current Events
      - @current_event_schedules.each do |es|
        %div
          %h3
            = es.event.title
          %h4
            presented by
            = es.event.speaker_names
            in
            = es.event.room.name
