.container
  .row
    .col-md-12.text-center
      %h2 Current Events
      - @current_events.each do |event|
        %div
          %h3
            = event.title
          %h4
            presented by
            = event.speaker_names
            in
            = event.room.name
