.row
  .col-md-12
    %h3
      Top Submitter
    - if @top_submitter && !@top_submitter.empty?
      - @top_submitter.each do |key, value|
        .row.top-submitter
          .col-md-2
            = image_tag(key.gravatar_url(size: '25'), title: "Yo #{key.name}!", :alt => '', 'class'=>'img-circle img-responsive text-center')
          .col-md-10
            %h4
              #{key.name}
              %div
                %small
                  #{pluralize(value, 'submission')}
    - else
      %h4.text-warning
        No submissions!
