.row
  .col-md-12
    %ul.nav.nav-tabs{'role'=>'tablist'}
      %li.active
        %a{'href'=> '#show', 'role'=>'tab', 'data-toggle'=>'tab'}
          Show
      %li
        %a{'href'=> '#edit', 'role'=>'tab', 'data-toggle'=>'tab'}
          Edit
%br
.row
  .col-md-12
    .tab-content
      .tab-pane.active#show
        = render partial: 'edit_show'
      .tab-pane#edit
        = render partial: 'edit_form'
