.row
  = render partial: 'top_boxes', locals: { total_user: @total_user, new_user: @new_user, active_user: @active_user,
                                       total_reg: @total_reg, new_reg: @new_reg, submissions_count: @submissions_count }
.row
  .col-md-8
    = render partial: 'submissions', locals: { conferences: @conferences, submissions: @submissions,
                                           cfp_weeks: @cfp_weeks }
  .col-md-4
.row
  .col-md-8
    = render partial: 'registrations', locals: { conferences: @conferences, registrations: @registrations,
                                             registration_weeks: @registration_weeks }
  .col-md-4