%h1
  %span.glyphicon.glyphicon-dashboard
  Dashboard for #{@conference.title}
%hr
.row
  .col-md-4
    = render partial: 'todo_list', locals: { conference_progress: @conference_progress }
  .col-md-4
    = render partial: 'top_submitter', locals: {top_submitter: @top_submitter}
  .col-md-4
    = render partial: 'event_distribution', locals: { event_distribution: @event_distribution }
