.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = form_for(@user) do |f|
        = render partial: 'users/form', locals: { f: f, full: false }
        .form-group
          .text-right
            = f.submit nil,  class: 'btn btn-primary'

