.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Forgot your password?
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f|
            .form-group
              = f.label :email, "Email"
              %abbr{title: 'This field is required'} *
              = f.email_field :email, autofocus: true, required: true, class: 'form-control', placeholder: 'Email'
            %p.text-right
              %button{type: 'submit', class: 'btn btn-success'}
                Send me reset password instructions
              
          = render partial: 'devise/shared/help'
