= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#call' } Call For Participation

%section#call
  .container
    .row
      - if one_call_open(call_for_events, call_for_tracks, call_for_booths)
        .col-md-4.col-sm-4.hidden-xs &nbsp;
      - if two_calls_open(call_for_events, call_for_tracks, call_for_booths)
        .col-md-2.col-sm-2.hidden-xs &nbsp;
      - if call_for_events.try(:open?)
        = render 'call_for_papers', conference_id: conference.short_title,
          call: call_for_events, event_types: event_types, tracks: tracks
      - if call_for_tracks.try(:open?)
        = render 'call_for_tracks', conference_id: conference.short_title,
          call: call_for_tracks
      - if call_for_booths.try(:open?)
        = render 'call_for_booths', conference_id: conference.short_title,
          call: call_for_booths
      - if two_calls_open(call_for_events, call_for_tracks, call_for_booths)
        .col-md-2.col-sm-2.hidden-xs &nbsp;
