= content_for :splash_nav do
  %li
    = link_to 'Code of Conduct', '#',
      data: { toggle: 'modal', target: '#modal-code-of-conduct'}

- content_for :modals do
  - cache [organization, '#CoC-modal'] do
    .modal.fade{ id: "modal-code-of-conduct" }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ data: { dismiss: 'modal' } }
              %i.fa-solid.fa-xmark
            %h3.modal-title Code of Conduct
          .modal-body
            = markdown organization.code_of_conduct
          .modal-footer
            = link_to 'permalink',
              [:code_of_conduct, organization],
              target: '_blank'
