.scroll-top-wrapper
  = link_to "#banner", class: "smoothscroll" do
    %i.fa-solid.fa-2x.fa-circle-arrow-up

:javascript
  $(function(){
    $(document).on( 'scroll', function(){
      if ($(window).scrollTop() > 100) {
          $('.scroll-top-wrapper').addClass('show');
      } else {
          $('.scroll-top-wrapper').removeClass('show');
      }
    });
  });
