.row
  .col-md-12
    %h3.text-center
      Program Highlights
.row
  .col-md-12
    .row.row-centered.shuffle-deck
      - highlights.each do |event|
        - speaker = event.speakers_ordered.first
        .col-md-3.col-sm-3.col-centered.col-top.highlights
          = link_to(conference_program_proposal_path(conference_id,
            event),
            class: 'thumbnail') do
            = image_tag speaker.profile_picture(size: 300),
              class: ['img-responsive', 'img-circle'],
              title: speaker.name
            .caption
              %h3.text-center= speaker.name
              %h4.text-center= event.title
