.row
  .col-md-12
    %h3.text-center Tracks
.row.row-centered
  - tracks.each do |track|
    .col-md-3.col-sm-3.col-centered.col-top.track
      .thumbnail
        .caption
          %h3.text-center
            = track.name
          %p.text-center
            - if track.start_date && track.end_date
              = date_string(track.start_date, track.end_date)
            - if track.room
              In #{track.room.name}
          = markdown truncate(track.description, length: 200, separator: ' ')
