- if recent_registrations && !recent_registrations.empty?
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th Public Name
          %th Conference
          %th Date
        - recent_registrations.each_with_index do |registration, index|
          %tbody
            %tr
              %td= index + 1
              %td= link_to registration.name, admin_user_path(registration.user.id)
              %td= link_to registration.conference.title, admin_conference_path(registration.conference.short_title)
              %td= registration.created_at.strftime('%m/%d/%Y')
- else
  %h5.text-warning.text-center
    No registrations!
