- if recent_users && !recent_users.empty?
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th E-Mail
          %th Date registered
          %th Confirmed?
      - recent_users.each_with_index do |user, index|
        %tbody
          %tr
            %td= index + 1
            %td= link_to user.email, admin_user_path(user.id)
            %td= user.created_at.strftime('%m/%d/%Y')
            %td
              = user.confirmed? ? 'Yes' : 'No'
- else
  %h5.text-warning.text-center
    No sign ups!
