.row
  .col-md-12
    %h3
      Top Submitter
    - if @top_submitter && !@top_submitter.empty?
      - @top_submitter.each do |key, value|
        .row.top-submitter
          .col-md-2
            = image_tag(key.profile_picture(size: '25'), title: "Yo #{key.name}!", alt: '', 'class' => 'img-circle img-responsive text-center')
          .col-md-10
            %h4
              = link_to key.name, admin_user_path(key)
              %div
                %small
                  = link_to pluralize(value, 'submission'), admin_user_path(key, tab: 'submissions-content')
    - else
      %h4.text-warning
        No submissions!
