.row
  .col-md-12
    .page-header
      %h1 Basics
      %p.text-muted
        The most basic settings of your conference
.row
  .col-md-8
    = form_for(@conference, url: admin_conference_path(@conference.short_title), html: {multipart: true}) do |f|
      = render partial: 'form_fields', locals: { f: f }
