.container#program
  = render 'schedule_tabs', active: 'vertical_schedule'

  %h1.text-center
    Vertical Schedule for
    = @conference.title

  #vert-schedule-full-calendar
  #fullcalendar{ data: { rooms: @rooms, events: @event_schedules, day: @day } }
