.modal-header
  %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
  %h3
    Assign speaker
= semantic_form_for @speaker, :as => :speaker, :url => admin_conference_event_speaker_path(@conference.short_title, @event), :method => :put do |f|
  .form-inputs.form-horizontal.modal-body
    = f.collection_select(:user_id, User.order(:name), :id, :name)

  .modal-footer
    = link_to "Close", "#", :data => {:dismiss => "modal"}, :class => 'btn'
    = f.button "Assign", :class => 'btn btn-primary'
