= content_for :splash_nav do
  %li
    %a{ href: '#program' } Program

%div.container.text-center
  %div.row
    %div.col-md-12
      %h1 Program
      - unless @conference.description.blank?
        %p
          = @conference.description
      - if @conference.call_for_papers and @conference.call_for_papers.schedule_public
        %span You can check out our
        %span
          = link_to 'Schedule', conference_schedule_path(@conference.short_title), target: '_blank'
  -unless @conference.tracks.blank?
    = render 'tracks'

