= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#registration' } Registration

.container
  .row
    .col-md-12.text-center
      %h1 Registration
      %p.lead
        Going to
        = @conference.short_title
        is free of charge. We only ask you to 
        = link_to "register yourself", new_conference_conference_registrations_path(@conference.short_title)
        until
        = @conference.registration_period.end_date

