%td.event{ style: "width: #{width * span}%; cursor:pointer", |
           colspan: span, |
           role: "button" } |
  %a.unstyled-link{href: url_for(conference_program_proposal_path(@conference.short_title, event.id))}
    %h5
      = event.title
    - if speaker = event.speakers.first
      = image_tag speaker.gravatar_url, :class => "img-circle pull-right", |
                                         :alt => speaker.name, |
                                         :title => speaker.name, |
                                         :style => "padding:2px 0px;" |
