.container
  .row
    .col-md-12.text-center
      %h2
        Support
        =@conference.short_title
        %p.lead
          To support our event you can get these tickets
  - @conference.tickets.each_slice(4) do |slice|
    .row.row-centered
      - slice.each do |ticket|
        .col-md-3.col-centered.col-top.col-sm-3
          .thumbnail
            %p.text-center
              %i.fa.fa-ticket.fa-5x
            .caption
              %h3.text-center
                = ticket.title
              -if ticket.description.present?
                = markdown(ticket.description)
              %p.text-center
                = link_to(conference_tickets_path(@conference.short_title), class: 'btn btn-success') do
                  Get Ticket
                  = humanized_money_with_symbol ticket.price

