%div.row.text-center
  %div.col-md-12
    %h2 Tracks
    - @conference.tracks.each do |t|
      %div.tracks{ class: (@conference.tracks.count.to_i <= 2 ? "col-md-#{12/@conference.tracks.count.to_i}" : "col-md-4") }
        %h4
          = t.name
        %p
          = markdown(t.description)
