.container
  .row
    .col-md-12
      .page-header
        %h2 Hack Week Rulez!!1!AOL
  .row
    .col-md-12 
      %img{src: 'https://hackweek.suse.com/assets/hackweek-logo-light-23bdd7fcc1d3463dcdfe50670ebb017990e5ff0f47e9dce8b3bbd59bf18f0b13.png', class: 'img-responsive img-center'}
