<div class="container">
  <% if @rooms.length > 1 and @conference.program.events.scheduled.any? %>
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a title="Timetable of the events" href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a>
          </li>
          <li role="presentation">
            <a title="All, including unscheduled Events" href="#program" aria-controls="program" role="tab" data-toggle="tab">All Events</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="schedule">
            <%= render 'schedule' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="program">
            <%= render 'all_events' %>
          </div>
        </div>
      </div>
  <% else %>
      <%= render 'all_events' %>
  <% end %>
</div>
