= content_for :splash_logo do 
  = link_to @conference.title, "#", :class => 'navbar-brand'
= content_for :splash_header do
  %ul.nav.navbar-nav
    %li
      %a{ href: '#sponsors' } Sponsors
= render 'sponsor'
