<div class="nested-fields">
    <%= f.inputs do %>
        <%= f.input :title %>
        <%= f.input :description  %>
        <%= remove_association_link :sponsorship_level, f %>
    <% end %>
</div>
