.col-md-9
  = semantic_form_for(@conference, :url => admin_conference_sponsorship_level_path(@conference.short_title, @conference.sponsorship_levels)) do |f|
    = dynamic_association :sponsorship_levels, "Sponsorship Levels", f
    = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
