.row
  .col-md-12
    .page-header
      %h1 Splashpage
      %p.text-muted
        Build a
        = link_to "splash page", conference_path(@conference.short_title)
        with all the information for your conference
- if @splashpage
  .row
    .col-md-8
      %dl.dl-horizontal
        %dt
          Include Tracks:
        %dd
          - if @splashpage.include_tracks
            Yes
          - else
            No
        %dt
          Include Program:
        %dd
          - if @splashpage.include_program
            Yes
          - else
            No
        %dt
          Include CFP:
        %dd
          - if @splashpage.include_cfp
            Yes
          - else
            No
        %dt
          Include Venue:
        %dd
          -if @splashpage.include_venue
            Yes
          -else
            No
        %dt
          Include Registrations:
        %dd
          - if @splashpage.include_registrations
            Yes
          - else
            No
        %dt
          Include Tickets:
        %dd
          - if @splashpage.include_tickets
            Yes
          - else
            No
        %dt
          Include Lodgins
        %dd
          -if @splashpage.include_lodgings
            Yes
          -else
            No
        %dt
          Include Sponsors:
        %dd
          - if @splashpage.include_sponsors
            Yes
          - else
            No
        %dt
          Include Social Media:
        %dd
          - if @splashpage.include_social_media
            Yes
          - else
            No
        %dt
          Public
        %dd
          - if @splashpage.public
            Yes
          - else
            No
  .row
    .col-md-12
    - if can? :update, @splashpage
      = link_to 'Edit', edit_admin_conference_splashpage_path, class: 'btn btn-primary'
    - if can? :destroy, @splashpage
      = link_to 'Delete', admin_conference_splashpage_path,
                          method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  .row
    .col-md-12.text-right
      - if can? :create, @conference
        = link_to 'Create Splashpage', new_admin_conference_splashpage_path, class: 'btn btn-primary'
