<div class="nested-fields">
    <%= f.inputs do %>
        <%= f.date_select :day %>
        <%= f.input :description, input_html: {rows: '2', class: 'col-md-8'} %>
        <%= remove_association_link :vday, f %>
    <% end %>
</div>
