defaults: &defaults
  # You can generate secret keys with 'rake secret'

  # For rails cookies
  secret_key_base: '12345'

  # For devise login tokens
  devise_secret_key: '12345'

  # Your errbit API key
  # errbit_key: '12345'

development:
  <<: *defaults
  # Sample data so that mocks work
  google_key: 'sample'
  google_secret: 'sample'

  facebook_key: 'sample'
  facebook_secret: 'sample'

  suse_key: 'sample'
  suse_secret: 'sample'

test:
  <<: *defaults

production:
  <<: *defaults
  # Leave the variables' names empty, unless you use the providers, in which case you need to
  # register your applicaton and add the actual keys.

  # If you add more providers, keep the format of the variables: provider_key, provider_secret

  # Register your appllication with Google from https://code.google.com/apis/console#:access
  google_key: ''
  google_secret: ''

  # Register your application with Facebook from https://developers.facebook.com/
  facebook_key: ''
  facebook_secret: ''

  # Developers do not need to register their application for suse account to work.
  # You must, however, add some sample value to the variables, for the login option to appear.
  # For example:
  #suse_key: 'sample data'
  #suse_secret: 'sample data'
  suse_key: ''
  suse_secret: ''

  # Register your application with GitHub from https://github.com/settings/applications
  github_key: ''
  github_secret: ''

  # If you add more providers that do not require a key, you still have to create the 2 variables with sample data
