development:
  # Generate your own with rake secret
  # secret_key_base: '12345'

  ########## OMNIAUTH Providers ##########
  # This is just sample data so mocks work
  google_key: 'sample'
  google_secret: 'sample'

  facebook_key: 'sample'
  facebook_secret: 'sample'

  suse_key: 'sample'
  suse_secret: 'sample'

  # Register on stripe and add TEST keys here
  # https://dashboard.stripe.com/account/apikeys
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>

test:
  # Generate your own with rake secret
  # secret_key_base: '12345'

  # Register on stripe and add TEST keys here
  # https://dashboard.stripe.com/account/apikeys
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>

production:
  # Generate your own with rake secret or use the environment
  # secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  # Your sentry.io DSN key
  # sentry_dsn: '12345'

  ########## OMNIAUTH Providers ##########
  # Leave the variables' names empty, unless you use the providers, in which
  # case you need to register your applicaton and add the actual keys.
  #
  # If you add a provider, keep the format of the variables:
  # *provider*_key and *provider*_secret

  # If you add a provider that does not require a key, you still have to
  # create the 2 variables with sample data or they won't show up in the app.

  # Register your appllication with Google from
  # https://code.google.com/apis/console#:access
  google_key: ''
  google_secret: ''

  # Register your application with Facebook from
  # https://developers.facebook.com/
  facebook_key: ''
  facebook_secret: ''

  # Developers do not need to register their application for suse account to
  # work. You must, however, add some sample value to the variables, for the
  # login option to appear. For example:
  #suse_key: 'sample data'
  #suse_secret: 'sample data'
  suse_key: ''
  suse_secret: ''

  # Register your application with GitHub from
  # https://github.com/settings/applications
  github_key: ''
  github_secret: ''

  # Register on stripe and add LIVE keys here
  # https://dashboard.stripe.com/account/apikeys
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>
