defaults: &defaults
  # You can generate secret keys with 'rake secret'

  # For rails cookies
  secret_key_base: '12345'

  # For devise login tokens
  devise_secret_key: '12345'

  # Your errbit API key
  # errbit_key: '12345'

development:
  <<: *defaults
  # Sample data so that mocks work
  google_key: 'sample'
  google_secret: 'sample'

  facebook_key: 'sample'
  facebook_secret: 'sample'

  suse_key: 'sample'
  suse_secret: 'sample'

test:
  <<: *defaults

production:
  <<: *defaults
  # Leave the variables' names empty, unless you use the providers, in which case you need to
  # register your applicaton and add the actual keys.

  # If you add more providers, keep the format of the variables: provider_key, provider_secret

  # Register your appllication with Google from https://code.google.com/apis/console#:access
  google_key: '458905029210-hhf15fe4cq93i9t88i4r49v3si1avpjr.apps.googleusercontent.com'
  google_secret: '-jXIXbaRV9xvdctpyZbbiSs5'

  # Register your application with Facebook from https://developers.facebook.com/
  facebook_key: '574935089296608'
  facebook_secret: 'd41ae8396a32c559c4527ab1c8c0d1b2'

  # Developers do not need to register their application for suse account to work.
  # You must, however, add some sample value to the variables, for the login option to appear.
  # For example:
  #suse_key: 'sample data'
  #suse_secret: 'sample data'
  suse_key: ''
  suse_secret: ''


  # Register your application with GitHub from https://github.com/settings/applications
  github_key: '7e38bdc9408721600e2c'
  github_secret: '0290d60c27b1f0b9e88d73551862f6e0136976ba'

  # If you add more providers that do not require a key, you still have to create the 2 variables with sample data
