.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign In
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render partial: 'form_fields', locals: { f: f }
          = render partial: 'devise/shared/openid'
          = render partial: 'devise/shared/help'
