= f.inputs 'Additional Info' do
  - @conference.questions.each do |q|
    - if q.question_type.id == 1  || q.question_type.id == 2 # yes/no or single choice
      = f.input :qanswers, :collection => q.qanswers.joins(:answer).pluck("answers.title, qanswers.id"), :as => :select, :input_html => { :multiple => false },
                label: q.title, :include_blank => "Please make your choice"
    - if q.question_type.id == 3  # multiple choice
      = f.input :qanswers, :collection => q.qanswers.joins(:answer).pluck("answers.title, qanswers.id"), :as => :check_boxes, label: q.title
