.container
  .row
    .col-xs-6.col-xs-offset-3
      %h1
        Payment Summary : 
        = humanized_money_with_symbol @total_amount_to_pay
    .col-xs-8.col-xs-offset-2.well
      = render partial: 'payment'
  .row
    .col-md-13
      %p.text-muted.text-center
        %small
          All payments are handled securely by our payment processor,
          = link_to 'Stripe', 'https://stripe.com', target: '_blank'
