- headers = ['Attended',
             'Name',
             'Nickname',
             'Affilιation',
             'Email']
= CSV.generate_line headers
- @registrations.each do |registration|
  = CSV.generate_line([registration.attended ? 'X' : '',
                       registration.name,
                       registration.nickname,
                       registration.affiliation,
                       registration.email])
