<%= render partial: "layouts/mailbot_header" %>
  <div id="content">
    <span style="white-space: pre-line">
      <%= @email_body.html_safe %>
    </span>
  </div>
<%= render partial: "layouts/mailbot_footer" %>
