<html>
    <body>
        <p>Dear <%= @name %>,</p>

        <p>Thank you for your submission <%= @event.title %> for the conference <%= @conference.title %>.
        After careful consideration we are sorry to inform you that your submission
        has been rejected.</p>

        <p>Best wishes</p>

        <p><%= @conference.title %> Team</p>
    </body>
</html>

