.row
  .col-md-12
    .page-header
      %h1
        New Track Schedule
.row
  .col-md-12
    = form_for @schedule, url: admin_conference_schedules_path(@conference.short_title) do |f|
      .form-group
        = f.select :track, Track.accessible_by(current_ability).where(program: @program).confirmed.pluck(:name, :id), { include_blank: false }, { class: 'form-control' }
      = f.submit nil, class: 'btn btn-primary'

