.template-help{:id => id}
  Valid attributes:
  %table.table
    %tr
      %td {email}
      %td The user's email address
    %tr
      %td {name}
      %td The user's full name
    %tr
      %td {conference}
      %td The full conference title
    %tr
      %td {proposalslink}
      %td A link to the user's proposal page
    %tr
      %td {registrationlink}
      %td A link to the registration page
    %tr
      %td {eventtitle}
      %td The title of an accepted or rejected proposal
    %tr
      %td {conference_start_date}
      %td The start date of the conference
    %tr
      %td {conference_end_date}
      %td The end date of the conference
    %tr
      %td {registration_start_date}
      %td The start date of the registration period
    %tr
      %td {registration_end_date}
      %td The end date of the registration period
    %tr
      %td {venue}
      %td The name of the venue
    %tr
      %td {venue_adress}
      %td The adress of the venue
