.template-help{:id => id}
  Valid attributes:
  %table.table
    %tr
      %td {email}
      %td The user's email address
    %tr
      %td {name}
      %td The user's full name
    %tr
      %td {conference}
      %td The full conference title
    %tr
      %td {proposalslink}
      %td A link to the user's proposal page
    %tr
      %td {registrationlink}
      %td A link to the registration page
    %tr
      %td {eventtitle}
      %td The title of an accepted or rejected proposal
