.row
  .col-md-12
    %h2 Bulk Email
    %p Send customized emails to users with advanced filtering and recipient selection.

    .nav.nav-pills{ role: 'navigation' }
      %li{ class: (@step == 'filter' ? 'active' : ''), id: 'step-filter' }
        %a{ href: '#' } 1. Filter Recipients
      %li{ class: (@step == 'recipients' ? 'active' : ''), id: 'step-recipients' }
        %a{ href: '#' } 2. Select Recipients
      %li{ class: (@step == 'compose' ? 'active' : ''), id: 'step-compose' }
        %a{ href: '#' } 3. Compose Email

    %hr

    - case @step
    - when 'filter'
      = render 'bulk_filter'
    - when 'recipients'
      = render 'bulk_recipients'
    - when 'compose'
      = render 'bulk_compose'
