/*
 *= require strap-on
 *= require formtastic-bootstrap
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require osem
 *= require osem-rating
 *= require osem-schedule
 *= require osem-schedule-print
 *= require osem-dashboard
 *= require osem-splash
 *= require font-awesome
 *= require osem-fonts
 *= require bootstrap-markdown
 *= require bootstrap-datetimepicker
 *= require leaflet
 *= require bootstrap3-switch
 *= require osem-payments
 *= require osem-navbar
*/
