/*
 *= require strap-on
 *= require formtastic-bootstrap
 *= require jquery.ui.all
 *= require jquery.fileupload-ui
 *= require jquery-ui-timepicker-addon
 *= require jquery.dataTables_themeroller
 *= require osem
 *= require osem-rating
 *= require osem-schedule
 *= require osem-schedule-print
*/
