.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin:-.2px; /* hack adjust for wrapping */
}

.nav-header-bigger {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.mySidebar {
  .fa {
    margin-right: 10px;
  }
  hr {
    margin: 1px;
  }
}

.dl-horizontal dt { white-space: normal; }

.table20 {
  width: 20%;
}


@media only screen and (max-width: 768px) {
    .mySidebar ul.subNav {
        display: block;
    }
}
