#splash {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  section:nth-child(even) {
    background: none repeat scroll 0 0 #e0e0e0;
    color: #555;
  }
  section:nth-child(odd) {
    background: none repeat scroll 0 0 #ffffff;
    color: #7b7b7b;
  }
}

#splash-banner{
  background: none;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
  min-height: 700px;
  margin-top: -10px;
  .container {
    padding-top: 60px;
  }
  h1, h3{
    color:#3399CC;
  }
  h3{
    font-family: 'Coustard', serif;
    font-weight: 600;
    text-shadow: 0.2em 0.2em 0 #4A4F6A;
  }
  h1{
    font-size: 5em;
    font-weight: 700;
    text-shadow:0.04em 0.04em 0 black;
  }
  p {
    color: #fff;
    font-weight: 500;
  }
}

#program {
  .tracks:hover{
    background-color: white;
  }
}

#callforpapers {
  .timer-box{
    width: 130px;
    margin: 35px 24px 20px 0;
    border-radius: 50%;
    border:4px solid #989797;
  }
  #cfp-date{
    font-size: 40px;
    color: #ff6633;
  }
}

#location {
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
  min-height: 500px;
  h1,h2,p{
    color: #fff;
  }
  h1,h2,li,p{
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    font-weight: 400;
  }
}

#social-media{
  i{
    color: #4a4a4a;
  }
  i:hover{
    color: #16a085;
  }
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #424242;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  i.fa {
    line-height: inherit;
  }
  &.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
  }
  a {
    color: white;
  }
}