/* Styling for voting on proposals*/
.myrating.bright { background-image: image-url("star-bright.png"); }
.myrating.glow { background-image: image-url("star-glow.png"); }
.othersrating.bright { background-image: image-url("star-bright.png"); }
.avgrating.bright { background-image: image-url("star-bright.png"); }
.avgrating {
  background: image-url("star.png") 0 0;
  width: 26px;
  height: 26px;
  display: inline-block;
}
.myrating, .othersrating {
  background: image-url("star.png") 0 0;
  width: 26px;
  height: 26px;
  float: left;
}

