#schedule td.event {
background-image: linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -o-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(247,250,242)),
    color-stop(0.97, rgb(194,232,190)),
    color-stop(1, rgb(194,232,190))
);
}

#schedule td.event:hover
{
background-image: linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -o-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(247,250,242)),
    color-stop(0.97, rgb(83,171,74)),
    color-stop(1, rgb(83,171,74))
);
}

.flexvideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.flexvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.speakerinfo {
    margin-top: 20px;
}

.schedule-title, .schedule-subtitle, .schedule-speaker, .schedule-track {
    clear: none;
    display: block;
}

.schedule-subtitle {
    color: rgb(185, 74, 72);
}

a.unstyled-link {
    text-decoration: none;
    color: #333333;
    outline: 0;
}

#schedule td.event {
  background-image: linear-gradient(to top, #f7faf2 24%, #c2e8be 97%,
#c2e8be 100%);
}

#schedule td.event:hover {
  background-image: linear-gradient(to top, #f7faf2 24%, #53ab4a 97%,
#53ab4a 100%);
}
