@import "breakpoints.scss";
.nav-osem {
    border: none;
    @include breakpoint(xs) {
        .navbar-collapse {
            background-color: white;
            border-bottom: 2px solid #efefef;
        }
        .navbar-nav > li > a {
            color: black;
        }
        .navbar-collapse.in {
            overflow: hidden;
            max-height: none;
        }
        .navbar-toggle .icon-bar {
            background-color: white;
        }
        .navbar-nav .open .dropdown-toggle:focus {
            color: black;
            background-color: #eeeeee;
        }
        .btn-group {
            width: 100%;
            text-align: center;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            color: black;
        }
    }
    .dropdown-menu {
        min-width: 225px;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
        color: #FFF;
    }

    .navbar-brand img {
        margin-top: -5px;
        max-height: 100%;
    }
}
