html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by 2 times the footer height */
    margin-bottom: 120px;
    /* Margin bottom by navbar height */
    padding-top: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    .container {
      padding: 15px;
    }
}

.nav-tabs {
    margin-bottom: 15px;
}

.img-center {
    margin: 0 auto;
}