#schedule td.event {
background-image: linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -o-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(194,232,190) 97%, rgb(194,232,190) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(247,250,242)),
    color-stop(0.97, rgb(194,232,190)),
    color-stop(1, rgb(194,232,190))
);

cursor: pointer;
padding: 2px;
}

#schedule td.event:hover
{
background-image: linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -o-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247,250,242) 24%, rgb(83,171,74) 97%, rgb(83,171,74) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(247,250,242)),
    color-stop(0.97, rgb(83,171,74)),
    color-stop(1, rgb(83,171,74))
);
}

.flexvideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.flexvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.speakerinfo {
    margin-top: 20px;
}

.schedule-title, .schedule-subtitle, .schedule-speaker, .schedule-track {
    clear: none;
    display: block;
}

.schedule-subtitle {
    color: rgb(185, 74, 72);
}

a.unstyled-link {
    text-decoration: none;
    color: #333333;
    outline: 0;
}

#schedule td.event {
  background-image: linear-gradient(to top, #f7faf2 24%, #c2e8be 97%,
#c2e8be 100%);
}

#schedule td.event:hover {
  background-image: linear-gradient(to top, #f7faf2 24%, #53ab4a 97%,
#53ab4a 100%);
}

.schedule-dropdown{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.schedule-dropdown > button{
  width: 100%;
}

.schedule-dropdown > .dropdown-menu{
  width: 100%;
}

.event-elipsis{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
}

.room-elipsis{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
}

.break-words{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
   -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for webkit */
   word-break: break-word;

   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

.room {
  font-size: 11px;
  height: 70px;
  line-height: 14px;
  overflow: hidden;
}

.event-title{
  font-size: 11px;
  height: 42px;
  line-height: 14px;
  overflow: hidden;
}

td.room{
  width: 15%;
  padding: 3px !important;
  height: 77px;
  max-width:15%;
}

th.date{
  font-size: 12px;
  padding: 8px 0px 8px 1% !important;
}

.speaker-pic{
  padding: 5px 2px;
  width: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .room {
    font-size: 12px;
    height: 75px;
    line-height: 15px;
  }

  .event-title{
    font-size: 12px;
    height: 45px;
    line-height: 15px;
  }

  .speaker-pic{
    padding: 5px 3px;
    width: 30px;
  }

  td.room{
    width: 12%;
    height: 90px;
    padding: 5px !important;
    max-width:12%;
  }

  th.date{
    font-size: 13px;
  }

  td.event{
    padding: 5px !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .room {
    font-size: 13px;
    height: 80px;
    line-height: 16px;
  }

  .event-title{
    font-size: 13px;
    height: 48px;
    line-height: 16px;
  }

  .speaker-pic{
    padding: 5px 4px;
    width: 35px;
  }

  td.room{
    width: 10%;
    height: 100px;
    padding: 6px !important;
    max-width: 10%;
  }

  td.event{
    padding: 6px !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .room {
    font-size: 14px;
    height: 85px;
    line-height: 17px;
  }

  .event-title{
    font-size: 14px;
    height: 51px;
    line-height: 17px;
  }

  .speaker-pic{
    padding: 5px;
    width: 39px;
  }

  td.room{
    width: 9%;
    height: 105px;
    padding: 7px !important;
    max-width: 9%;
  }

  td.event{
    padding: 7px !important;
  }

  th.date{
    font-size: 14px;
  }
}
