<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" class="index">
  <div id="post-nav">
    {% include navigation.html %}
  </div>

        {% for post in site.posts %}
          <section class="post">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="post-img" style="background-image: url(/img/posts/{{ post.image }});">
                  </div>
                </div>
                <div class="col-md-8">
                  <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                  <p class="small">
                    {{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}
                  </span></p>
                  {{ post.excerpt }}
                </div>
              </div>
            </div>
          </section>
        {% endfor %}

  {% include js.html %}
  </body>
</html>
