.row
  .col-md-12
    .page-header
      %h2
        Users
        - if @users
          = "(#{@users.length})"
.row
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-hover#userstable{data: {source: admin_users_path(format: :json)}}
      %thead
        %th ID
        %th State
        %th Email
        %th Name
        %th Attended Conferences
        %th Roles
        %th View
        %th Edit
      %tbody
