%table.table
  - @show_attributes.each do |attr|
    %tr
      %td{style: 'width:20%'}
        %b
          = attr.capitalize.gsub('_', ' ')
      - if attr == 'roles'
        %td
          = @user.show_roles.map { |x| x[0].titleize + ' ' + x[1] }.join ', '
      - else
        %td= @user.send(attr)
