html, body {
    height: 100%;
    overflow:hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.schedule-content {
    width:100%;
    height:100%;
}

li {
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 125px;
    display : inline-block;
    background: #009ed8;

}

li:hover ul {
    display:block;
}

li a {
    display: block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-right: 0px solid black;
    width: auto;
    color: #fff;
    white-space: nowrap;
}

li a:hover {
    background: #80dcff;
    color: #fff;
}


.active {
    background: #1A6907;
    color: #fff;
}

li ul {
    margin-left: 85px;
    margin-top: -25px;
    position: absolute;
    display: none;
    z-index: 99;
    display : inline-block;

}

li:hover ul {
    visibility: block;
}

li ul li {
    float: none;
    display: inline;
}

li ul li a {
    width: auto;
    background: #009ed8;
}

li ul li a:hover {
    background: #80dcff;
    color: #fff;
}
.schedule-dates-header {
    position:absolute;
    top:50px;
    left: 180px;
    right:0px;

}
.unscheduled {
    border:1px solid #bbb;
    margin-right: 10px;
    top:100px;
    left:10px;
    width:200px;
    bottom:50px;
    position:absolute;
    overflow-x: auto;
    overflow-y: auto;
}

.tab-content {
    float: left;
    width: 100%;
    height: 700px;
    overflow: auto;
}

.schedule-rooms-container {
    position:absolute;
    top:100px;
    left:220px;
    right:0px;
    bottom:50px;
    overflow: auto;
}

.schedule {
}

.schedule-room-column-header {
    float:left;
    padding-top:4px;
    text-align:center;
    width: 200px;
    position: relative;
    background: #C4E2E2;
}

.unscheduled-header {
    text-align:center;
    padding-top:4px;
    width: 200px;
    position: relative;
    background: #111953;
    color: white;
    overflow:hidden;
}


.schedule-time-column-header {
    float:left;
    padding-top:4px;
    width: 200px;
    position: relative;
    background: #C4E2E2;
}

.schedule-time-column {
    border:1px solid #bbb;
    float:left;
    position:relative;
    width:100px;
    overflow: hidden;
}

.schedule-room-column {
    border:1px solid #bbb;
    float:left;
    position:relative;
    width:200px;
}

.schedule-time-slot {
    border-bottom: 1px solid #bbb;
    float:left;
    position:relative;
    width:100px;
    height:30px;
}

.schedule-room-slot {
    border-bottom: 1px solid #bbb;
    float:left;
    position:relative;
    width:200px;
    height:30px;
}

.schedule-event {
    overflow:hidden;
    text-overflow: ellipsis;
    position:relative;
    border: 1px solid #000000;
    left: 0;
    width:200px;
    min-height:32px;
    background: #6af;
    color: #000;
    z-index:1;
    cursor:move;

}

.schedule-event-delete-button {
    position:absolute;
    top:3px;
    right:4px;
    font-weight:bold;
    cursor:pointer
}
