:ruby
  combined_data ||= {}
  data ||= chart_values(combined_data)
  colors ||= chart_colors(combined_data)

  options = {
    donut:    true,
    legend:   'bottom',
    download: true,
    messages: { empty: 'No data' }
  }
  options[:colors] = colors if colors.present?

.text-center
  %h4= title
  = pie_chart data, options
