- if @tickets.length > 0
  .row-fluid
    .span12
      %h2
        = "Non-Free Tickets (#{@tickets.count})"
  .row-fluid
    .span4
      %h4 Ticket distribution
      .row-fluid
        .span12#tickets_distribution
          = render :partial => "tickets_distribution"      
  .row-fluid
    .span10
      %h4 Ticket sales over time
      .row-fluid
        .span12#tickets_time
          = render :partial => "tickets_time"
- else
  - if @conference.use_supporter_levels
    %h5 No tickets have been bought yet.
  - else
    %h5 There are no tickets set for this conference.