<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Snap!Con -- A conference all about Snap!, a programing language from UC Berkeley." name="description"/>
    <meta content="Michael Ball, Brian Harvey, Jens Moenig, Bernat Romagosa, Dan Garcia, Lauren Mock" name="author"/>
    <%= stylesheet_link_tag "mailbot" %>
  </head>
  <body>
  </span>
  </div>
    <div id="border"></div>
  </body>
</html>