    <% if @conference.present? %>
      <div id="border" style="background-color: <%= conference_color(@conference) %>">
    <% else %>
      <div id="border" style="background-color: #003262">
    <% end %>
  </body>
</html>
