%html{lang: 'en'}
    %head
        %meta{charset: 'utf-8'}
        %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
        %title= 'Email'
        %meta{content: 'Snap!Con -- A conference all about Snap!, a programing language from UC Berkeley.', name: 'description'}
        %meta{content: 'Michael Ball, Brian Harvey, Jens Moenig, Bernat Romagosa, Dan Garcia, Lauren Mock', name: 'author'}
        = stylesheet_link_tag "mailbot"
    %body
        #border
            .row
                .col-md-2
                    - if !@logo.nil?
                        = image_tag(@logo, style: "display:block")
                .col-md-10
                    %h1
        #content
            %span{:style => "white-space: pre-line"}
           