<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>
      <%= 'Email' %>
    </title>
    <meta content="Snap!Con -- A conference all about Snap!, a programing language from UC Berkeley." name="description"/>
    <meta content="Michael Ball, Brian Harvey, Jens Moenig, Bernat Romagosa, Dan Garcia, Lauren Mock" name="author"/>
    <%= stylesheet_link_tag "mailbot" %>
  </head>
  <body>
    <div id="border">
      <div class="row">
        <div class="col-md-2">
          <% if !@logo.nil? %>
            <%= image_tag(@logo, style: "display:block") %>
          <% end %>
        </div>
        <div class="col-md-10">
          <h1></h1>
        </div>
      </div>
    </div>
    <div id="content">
      <span style="white-space: pre-line"></span>


           