%noscript
  :css
    #content {
      display: none;
    }
  %h2
    JavaScript is not enabled
  %p
    OSEM requires JavaScript to be enabled to function. Please turn on JavaScript in your browser's settings and reload the page to continue.